<a href="https://colab.research.google.com/github/italolima04/hackaton-ciencia-de-dados/blob/master/Submissao/HachathonUFC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

Dados: https://raw.githubusercontent.com/LNascimentoD/HackathonDS/master/Mensagem_Sem_T%C3%ADtulo/train.csv/train.csv

In [67]:
data = pd.read_csv('https://raw.githubusercontent.com/LNascimentoD/HackathonDS/master/Mensagem_Sem_T%C3%ADtulo/train.csv/train.csv')
data.head()

  animal_id     name animal_type  ... sex_upon_outcome outcome_type outcome_subtype
0   A682590      Rex         Dog  ...    Neutered Male     Adoption             NaN
1   A745909      NaN         Dog  ...    Spayed Female     Adoption             NaN
2   A741468  *Martha         Dog  ...    Spayed Female     Adoption             NaN
3   A715697      NaN         Dog  ...    Neutered Male     Adoption             NaN
4   A723449      NaN         Cat  ...    Intact Female   Euthanasia       Suffering

[5 rows x 10 columns]

In [68]:
data.shape

(45278, 10)

In [69]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45278 entries, 0 to 45277
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   animal_id         45278 non-null  object
 1   name              30157 non-null  object
 2   animal_type       45278 non-null  object
 3   breed             45278 non-null  object
 4   color             45278 non-null  object
 5   arrival_datetime  45278 non-null  object
 6   age_upon_outcome  45274 non-null  object
 7   sex_upon_outcome  45278 non-null  object
 8   outcome_type      45278 non-null  object
 9   outcome_subtype   22011 non-null  object
dtypes: object(10)
memory usage: 3.5+ MB

In [70]:
#Quantidade de valores nulos na coluna de 'name'.
data['name'].isna().sum()

15121

In [71]:
#Quantidade de valores nulos na coluna de 'outcome_subtype'.
data['outcome_subtype'].isna().sum()

23267

In [72]:
#Quantidade de valores únicos para a raça dos animais.
len(data['breed'].unique())

1718

In [73]:
#Quantidade de valores únicos para a cor do pelo dos animais.
len(data['color'].unique())

452

In [74]:
#Verificando as colunas do dataset.
data.columns

Index(['animal_id', 'name', 'animal_type', 'breed', 'color',
       'arrival_datetime', 'age_upon_outcome', 'sex_upon_outcome',
       'outcome_type', 'outcome_subtype'],
      dtype='object')

In [75]:
#Verificando se há valores nulos na coluna 'outcome_type' em nossos dados de treino.
data['outcome_type'].isna().sum()

0

In [76]:
data_train = data[[ 'animal_type', 'sex_upon_outcome', 'outcome_type']]
data_train.head()

  animal_type sex_upon_outcome outcome_type
0         Dog    Neutered Male     Adoption
1         Dog    Spayed Female     Adoption
2         Dog    Spayed Female     Adoption
3         Dog    Neutered Male     Adoption
4         Cat    Intact Female   Euthanasia

In [77]:
#Valores únicos para a coluna 'animal_type'.
data_train['animal_type'].unique()

array(['Dog', 'Cat', 'Other', 'Bird', 'Livestock'], dtype=object)

In [78]:
data_train.loc[data_train.animal_type == 'Dog', 'animal_type'] = 0
data_train.loc[data_train.animal_type == 'Cat', 'animal_type'] = 1
data_train.loc[data_train.animal_type == 'Bird', 'animal_type'] = 2
data_train.loc[data_train.animal_type == 'Livestock', 'animal_type'] = 3
data_train.loc[data_train.animal_type == 'Other', 'animal_type'] = 4

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [79]:
#Valores únicos para a coluna 'sex_upon_outcome'.
data_train['sex_upon_outcome'].unique()

array(['Neutered Male', 'Spayed Female', 'Intact Female', 'Unknown',
       'Intact Male'], dtype=object)

In [80]:
data_train.loc[data_train.sex_upon_outcome == 'Neutered Male', 'sex_upon_outcome'] = 0
data_train.loc[data_train.sex_upon_outcome == 'Intact Male', 'sex_upon_outcome'] = 1
data_train.loc[data_train.sex_upon_outcome == 'Spayed Female', 'sex_upon_outcome'] = 2
data_train.loc[data_train.sex_upon_outcome == 'Intact Female', 'sex_upon_outcome'] = 3
data_train.loc[data_train.sex_upon_outcome == 'Unknown', 'sex_upon_outcome'] = 4

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [81]:
data_train.head()

  animal_type sex_upon_outcome outcome_type
0           0                0     Adoption
1           0                2     Adoption
2           0                2     Adoption
3           0                0     Adoption
4           1                3   Euthanasia

In [82]:
x = data_train[['animal_type', 'sex_upon_outcome']]
x.head()

  animal_type sex_upon_outcome
0           0                0
1           0                2
2           0                2
3           0                0
4           1                3

In [83]:
y = data_train[['outcome_type']]
y.head()

  outcome_type
0     Adoption
1     Adoption
2     Adoption
3     Adoption
4   Euthanasia

In [84]:
df_test = pd.read_csv('https://raw.githubusercontent.com/LNascimentoD/HackathonDS/master/Mensagem_Sem_T%C3%ADtulo/test.csv/test.csv')
df_test.head()

  animal_id    name  ... age_upon_outcome sex_upon_outcome
0   A725807  Blanca  ...         14 years    Spayed Female
1   A713176    Ajax  ...         4 months    Intact Female
2   A752992   *Azul  ...          4 weeks      Intact Male
3   A753923     NaN  ...          2 weeks          Unknown
4   A763405     NaN  ...          1 month    Intact Female

[5 rows x 8 columns]

In [85]:
test = df_test[['animal_type', 'sex_upon_outcome']]
test.head()

  animal_type sex_upon_outcome
0         Dog    Spayed Female
1         Cat    Intact Female
2         Cat      Intact Male
3        Bird          Unknown
4         Dog    Intact Female

In [86]:
test.loc[test.animal_type == 'Dog', 'animal_type'] = 0
test.loc[test.animal_type == 'Cat', 'animal_type'] = 1
test.loc[test.animal_type == 'Bird', 'animal_type'] = 2
test.loc[test.animal_type == 'Livestock', 'animal_type'] = 3
test.loc[test.animal_type == 'Other', 'animal_type'] = 4

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [87]:
test.loc[test.sex_upon_outcome == 'Neutered Male', 'sex_upon_outcome'] = 0
test.loc[test.sex_upon_outcome == 'Intact Male', 'sex_upon_outcome'] = 1
test.loc[test.sex_upon_outcome == 'Spayed Female', 'sex_upon_outcome'] = 2
test.loc[test.sex_upon_outcome == 'Intact Female', 'sex_upon_outcome'] = 3
test.loc[test.sex_upon_outcome == 'Unknown', 'sex_upon_outcome'] = 4

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [88]:
test.isna().sum()

animal_type         0
sex_upon_outcome    1
dtype: int64

In [89]:
test.shape

(25570, 2)

In [90]:
test['sex_upon_outcome'].isna()

0        False
1        False
2        False
3        False
4        False
         ...
25565    False
25566    False
25567    False
25568    False
25569    False
Name: sex_upon_outcome, Length: 25570, dtype: bool

In [0]:
test = test.loc[test.sex_upon_outcome.isna() == False, :]

In [92]:
test.shape

(25569, 2)

In [93]:
test.head()

  animal_type sex_upon_outcome
0           0                2
1           1                3
2           1                1
3           2                4
4           0                3

In [0]:
from sklearn.tree import DecisionTreeClassifier

In [0]:
tree = DecisionTreeClassifier()

In [96]:
tree.fit(x, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [0]:
predict = tree.predict(test)

In [98]:
predict

array(['Adoption', 'Transfer', 'Transfer', ..., 'Transfer', 'Adoption',
       'Transfer'], dtype=object)

In [99]:
len(predict)

25569

In [100]:
submission = df_test['animal_id']
submission.head()

0    A725807
1    A713176
2    A752992
3    A753923
4    A763405
Name: animal_id, dtype: object

In [101]:
len(submission)

25570

In [102]:
predict = pd.DataFrame(predict)
predict.head()

            0
0    Adoption
1    Transfer
2    Transfer
3  Euthanasia
4    Transfer

In [0]:
submission = pd.concat([submission, predict], ignore_index=False, axis=1)

In [0]:
submission.columns = [['animal_id', 'outcome_type']]

In [105]:
submission.shape

(25570, 2)

In [106]:
submission.head()

  animal_id outcome_type
0   A725807     Adoption
1   A713176     Transfer
2   A752992     Transfer
3   A753923   Euthanasia
4   A763405     Transfer

In [0]:
submission.to_csv('submission.csv', index=False)