<a href="https://colab.research.google.com/github/italolima04/hackaton-ciencia-de-dados/blob/master/Submissao/Hackathon_UFC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dados

train

https://raw.githubusercontent.com/LNascimentoD/HackathonDS/master/Mensagem_Sem_T%C3%ADtulo/train.csv/train.csv

test

https://raw.githubusercontent.com/LNascimentoD/HackathonDS/master/Mensagem_Sem_T%C3%ADtulo/test.csv/test.csv

submission

https://raw.githubusercontent.com/LNascimentoD/HackathonDS/master/Mensagem_Sem_T%C3%ADtulo/sample_submission.csv

# Importando Bibliotecas e Dados

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
#Preenchendo Data Frame a partir do link para o arquivo em formato CSV.
data = pd.read_csv('https://raw.githubusercontent.com/LNascimentoD/HackathonDS/master/Mensagem_Sem_T%C3%ADtulo/train.csv/train.csv')

**Os dados que constituem esse dataset foram fornecidos pelo Austin Animal Center e representam uma amostra para as informações de animais que chegam a abrigos nos Estados Unidos.**

# Explorando os Dados

In [8]:
#Visualizando às 10 primeiras linhas do Data Frame.
data.head(10)

  animal_id     name  ...     outcome_type outcome_subtype
0   A682590      Rex  ...         Adoption             NaN
1   A745909      NaN  ...         Adoption             NaN
2   A741468  *Martha  ...         Adoption             NaN
3   A715697      NaN  ...         Adoption             NaN
4   A723449      NaN  ...       Euthanasia       Suffering
5   A432065    Sheba  ...         Transfer         Partner
6   A693633   Shadow  ...  Return to Owner             NaN
7   A682582      NaN  ...       Euthanasia             NaN
8   A667793      NaN  ...             Died         Enroute
9   A723703  *Selena  ...         Adoption             NaN

[10 rows x 10 columns]


**Descrição dos dados:**

*animal_id* - identificador único de cada animal

*name* - nome do animal

*animal_type* - tipo de animal

*breed* - raça do animal

*color* - cor do animal

*arrival_datetime* - horário da chegada do animal no abrigo

*age_upon_outcome* - idade do animal ao deixar o abrigo

*sex_upon_outcome* - sexo do animal ao deixar o abrigo

*outcome_type* - destino do animal (a ser previsto)

*outcome_subtype* - subtipo de destino do animal

In [9]:
#Verificando a estrutura do Data Frame.
data.shape

(45278, 10)

**Uma etapa importante na exploração dos dados é a de verificar a existência de dados nulos.**

**O método isna() do Pandas retorna um True em caso de o dado ser nulo, o sum() contabiliza o total desses dados.**

In [10]:
data.isna().sum()

animal_id               0
name                15121
animal_type             0
breed                   0
color                   0
arrival_datetime        0
age_upon_outcome        4
sex_upon_outcome        0
outcome_type            0
outcome_subtype     23267
dtype: int64

**Temos então um resumo para esse parâmetro.**

É notório observar que as colunas "name" e "outcome_subtype" são as que contém a maior parte de dados nulos/ausentes.

In [20]:
#Porcentagem de valores presentes em relação ao total de valores da coluna 'name'.
((data['name'].isna().sum()/(data['name'].isna().sum() + data['name'].value_counts().sum()))*100).round(2)

33.4

In [27]:
#A nivel de exploração, podemos verificar os 10 nomes mais frequentes para os animais.
data['name'].value_counts()[:10]

Bella       194
Max         152
Princess    128
Luna        127
Daisy       125
Rocky       120
Charlie     112
Coco        110
Buddy       104
Lucy        103
Name: name, dtype: int64

In [28]:
#Porcentagem de valores presentes em relação ao total de valores da coluna 'outcome_subtype'.
((data['outcome_subtype'].isna().sum()/(data['outcome_subtype'].isna().sum() + data['outcome_subtype'].value_counts().sum()))*100).round(2)

51.39

**Agora vamos explorar as outras colunas, consideradas mais importantes para o dataset.**

In [ ]:
#Verificando os tipos únicos de animais presentes nos dados.
data['animal_type'].unique()

array(['Dog', 'Cat', 'Other', 'Bird', 'Livestock'], dtype=object)

**Para treinarmos um modelo é necessário trasnformar as informações em dados numéricos.**

In [46]:
data.loc[data.animal_type == 'Dog', 'animal_type'] = 0
data.loc[data.animal_type == 'Cat', 'animal_type'] = 1
data.loc[data.animal_type == 'Bird', 'animal_type'] = 2
data.loc[data.animal_type == 'Livestock', 'animal_type'] = 3
data.loc[data.animal_type == 'Other', 'animal_type'] = 4
data.head()

  animal_id     name animal_type  ... sex_upon_outcome outcome_type outcome_subtype
0   A682590      Rex           0  ...    Neutered Male     Adoption             NaN
1   A745909      NaN           0  ...    Spayed Female     Adoption             NaN
2   A741468  *Martha           0  ...    Spayed Female     Adoption             NaN
3   A715697      NaN           0  ...    Neutered Male     Adoption             NaN
4   A723449      NaN           1  ...    Intact Female   Euthanasia       Suffering

[5 rows x 10 columns]

In [47]:
#Verificando as raças únicas dos animais presentes nos dados.
data['breed'].unique()

array(['Mastiff/Boxer', 'Greyhound Mix', 'Labrador Retriever Mix', ...,
       'Dachshund/Boxer', 'Ringtail Mix', 'Dove'], dtype=object)

In [48]:
#Verificando as cores únicas dos animais presentes nos dados.
data['color'].unique()

array(['Tan/White', 'Chocolate', 'White/Black', 'Brown Tabby',
       'Black/Brown', 'Black/White', 'Brown', 'Brown Tabby/White',
       'Black/Tan', 'White', 'Brown/White', 'White/Tan', 'Black',
       'Yellow Brindle/White', 'Tricolor', 'Tortie', 'Orange Tabby',
       'Blue', 'Tan', 'Buff', 'Apricot', 'Brown Brindle/White',
       'Blue/White', 'Cream', 'White/Brown', 'Silver Tabby', 'Silver',
       'Black/Silver', 'Red/White', 'Liver/White', 'Orange Tabby/White',
       'White/Blue', 'Red', 'Seal Point', 'Black/Tricolor', 'Brown Merle',
       'Blue Tabby/White', 'Tortie/White', 'Lilac Point', 'Tan/Cream',
       'Blue Tick/Red Tick', 'Blue Merle/White', 'Chocolate/White',
       'White/Brown Brindle', 'Blue Merle/Tan', 'Gray/White', 'Fawn',
       'Brown/Black', 'Blue Tabby', 'Cream/White', 'Brown/Tan', 'Gray',
       'Calico', 'White/Tricolor', 'Gray Tabby', 'Tan/Black', 'Black/Red',
       'Brown Tabby/Black', 'Brown Brindle', 'Orange/White',
       'Calico Point', 'Fawn/White', 'Red/Black', 'Black/Black',
       'White/Brown Tabby', 'Green', 'Silver Tabby/White',
       'White/Yellow Brindle', 'Lynx Point/White', 'Lynx Point',
       'Tricolor/Black', 'White/Orange Tabby', 'White/Chocolate',
       'Cream Tabby', 'Blue Merle/Black', 'Orange/Gray', 'Gray/Blue',
       'White/Orange', 'Sable/Black', 'Sable/White', 'Blue Merle',
       'Chocolate/Tan', 'Red Tick', 'Black/Brown Brindle', 'Yellow/Brown',
       'White/Buff', 'Black/Gray', 'Buff/White', 'Cream Tabby/White',
       'Sable', 'Black Brindle/White', 'Torbie', 'White/Gray',
       'Gold/White', 'Blue Cream/Buff', 'Yellow/Black', 'Calico/White',
       'Gray/Black', 'Black Tabby/White', 'White/Blue Tabby', 'Red/Brown',
       'White/Blue Merle', 'Black Brindle', 'Black Tabby', 'Red/Tan',
       'Black Smoke', 'Tan/Red', 'Black/Tortie', 'Blue Merle/Brown',
       'Torbie/White', 'Silver/Cream', 'Orange/Brown', 'Yellow',
       'Brown Merle/White', 'Tan/Brown', 'Fawn/Black', 'Brown/Silver',
       'Blue Cream', 'Flame Point', 'Tan/Tan', 'Brown/Brown Brindle',
       'Gray Tabby/White', 'Blue/Orange', 'White/Red', 'Green/Yellow',
       'White/Liver', 'White/Cream Tabby', 'Blue/Tan', 'Blue Point',
       'Pink', 'Tan/Blue', 'Yellow/White', 'Tan/Silver', 'Tan/Gray',
       'Red/Red Tick', 'Seal Point/White', 'Sable/Buff', 'Silver/Brown',
       'Gold', 'Orange Tabby/Orange Tabby', 'Tan/Buff', 'Blue Tick/Black',
       'Yellow Brindle', 'Brown Brindle/Black', 'Silver/Gray',
       'Brown/Brown', 'Gray/Brown', 'Black/Buff', 'Chocolate/Black',
       'Red Merle/White', 'Orange/Tan', 'Cream/Gray', 'Tortie Point',
       'Black/Cream', 'White/Yellow', 'Buff/Black', 'Orange',
       'Chocolate Point', 'Black Tiger/White', 'Brown/Cream',
       'White/Black Brindle', 'Blue/Tricolor', 'Sable/Tan', 'White/Cream',
       'Tricolor/White', 'White/Silver', 'Sable/Cream', 'Blue Tick/Tan',
       'Calico/Black', 'Tortie/Blue Cream', 'Blue Tiger/White',
       'Gray/Cream', 'Brown/Red', 'Blue Point/White', 'White/Blue Cream',
       'Black Brindle/Brown', 'Orange Tabby/Cream', 'Silver Lynx Point',
       'Black/Blue Merle', 'Cream/Tan', 'Blue Tick/White',
       'Tricolor/Blue Merle', 'White/White', 'White/Pink', 'Blue Tick',
       'Brown Brindle/Tan', 'Brown/Chocolate',
       'Brown Brindle/Brown Brindle', 'Cream/Black', 'Chocolate/Tricolor',
       'Gray/Pink', 'Black Smoke/White', 'Red Tick/White', 'Gray/Tan',
       'Black/Blue', 'Tortie/Blue', 'White/Calico', 'White/Brown Merle',
       'White/Red Tick', 'Brown/Tricolor', 'Red/Green', 'Green/Blue',
       'Blue/Black', 'Blue/Brown', 'Gold/Brown', 'Calico/Tricolor',
       'Lilac Point/White', 'Gray Tabby/Black', 'Chocolate/Brown',
       'Buff/Yellow', 'Blue/Cream', 'Cream/Brown', 'White/Liver Tick',
       'Buff/Tan', 'Black/Yellow Brindle', 'Brown/Black Tabby',
       'Silver/White', 'White/Gray Tabby', 'Red/Cream', 'Blue Tick/Red',
       'Brown Tiger', 'Tricolor/Brown', 'Liver/Tan',
       'Yellow/Orange Tabby', 'Torbie/Blue Tabby', 'Tortie/Black',
       'Black/Yellow', 'Red Merle', 'Calico/Blue Tabby', 'Black/Orange',
       'Blue Tabby/Tan', 'Red/Gold', 'Tan/Yellow', 'Black/Black Tabby',
       'Gray/Red', 'Silver/Red', 'Cream/Cream', 'Red/Red',
       'White/Apricot', 'Black/Pink', 'Chocolate Point/White',
       'Chocolate/Chocolate', 'Silver/Chocolate', 'Black/Black Smoke',
       'Brown/Red Merle', 'Silver/Tan', 'Blue/Gray',
       'Chocolate/Liver Tick', 'Brown/Gray', 'Calico/Gray Tabby',
       'Brown Brindle/Gray', 'Orange Tabby/Orange', 'Red/Tricolor',
       'Calico Point/Gray', 'Gold/Cream', 'Calico Point/White',
       'Fawn/Tan', 'Lynx Point/Tortie Point', 'Fawn/Brown', 'Sable/Brown',
       'Blue Smoke/Gray', 'Black/Blue Tick', 'Blue/Tortie',
       'Black Brindle/Blue', 'Brown Brindle/Red Tick',
       'Calico/Brown Tabby', 'Cream/Blue Point', 'White/Brown Tiger',
       'Apricot/White', 'White/Red Merle', 'Tricolor/Gray', 'Liver/Buff',
       'Gray/Tortie', 'Brown/Red Tick', 'Blue Point/Cream', 'Blue/Green',
       'Black Brindle/Brown Brindle', 'Black Brindle/Black',
       'Flame Point/White', 'Brown/Buff', 'Brown Tabby/Brown',
       'Gray Tabby/Orange', 'Yellow/Cream', 'Agouti/Brown Tabby',
       'Silver/Black', 'Blue Smoke', 'Liver Tick',
       'Blue Tick/Brown Brindle', 'Cream/Orange', 'Brown/Blue Merle',
       'White/Silver Tabby', 'Red/Buff', 'Gray/Gray', 'Blue Tabby/Cream',
       'Cream/Red', 'Tricolor/Tan', 'Tricolor/Brown Brindle',
       'Red/Silver', 'Gray/Orange', 'Tan/Red Tick', 'Tortie/Orange',
       'White/Calico Point', 'Gray/Buff', 'Apricot/Tricolor',
       'Gray/Yellow', 'Brown Tabby/Orange', 'Brown/Yellow',
       'Black/Gray Tabby', 'Red Tick/Tan', 'Blue Tiger',
       'Black/Seal Point', 'Cream/Seal Point', 'Tan/Tricolor',
       'Brown Brindle/Brown', 'Blue Cream/White', 'Ruddy/Cream',
       'Tricolor/Calico', 'White/Gray Tiger', 'Black/Chocolate',
       'Blue Merle/Red Merle', 'Seal Point/Cream', 'Yellow/Gray',
       'Red Tick/Brown', 'Gold/Tan', 'Blue/Calico', 'Gold/Black',
       'Chocolate/Brown Tabby', 'Brown/Green', 'Tricolor/Brown Merle',
       'Chocolate/Red', 'Lilac Point/Cream', 'Yellow Brindle/Blue',
       'Agouti', 'Red/Gray', 'Brown Tiger/White', 'Blue/Yellow',
       'Seal Point/Brown', 'Gold/Yellow', 'Red Merle/Black',
       'Blue Smoke/White', 'Brown Merle/Tan', 'Gray/Silver',
       'Blue Merle/Red', 'Tan/Apricot', 'Blue/Yellow Brindle',
       'Orange Tabby/Brown', 'Red Merle/Tan', 'Black/Brown Merle',
       'Blue Tick/Brown', 'Buff/Brown', 'Orange/Black', 'Blue/Blue',
       'Green/White', 'Buff/Gray', 'White/Chocolate Point',
       'White/Black Tabby', 'Black/Black Brindle', 'White/Gold',
       'Green/Gray', 'Silver Tabby/Black', 'Fawn/Chocolate',
       'Gray/Tricolor', 'Cream/Yellow', 'Tortie Point/White', 'Buff/Red',
       'Blue Tabby/Buff', 'White/Blue Tick', 'Silver/Blue',
       'Apricot/Brown', 'Tortie/Blue Tabby', 'Tan/Yellow Brindle',
       'White/Lynx Point', 'Blue Merle/Tricolor', 'Fawn/Blue',
       'Brown Tabby/Brown Tabby', 'Tan/Brown Brindle', 'Tricolor/Blue',
       'Yellow/Tan', 'Tortie/Calico', 'Red/Yellow', 'Brown Tabby/Cream',
       'Sable/Red', 'Lynx Point/Blue', 'Flame Point/Cream',
       'Torbie/Brown Tabby', 'Blue Tabby/Blue Cream', 'Cream/Brown Merle',
       'Brown Tabby/Agouti', 'Gold/Gold', 'Black Tabby/Black',
       'Tortie/Tortie', 'Blue Cream/Tortie', 'Brown Merle/Blue Merle',
       'Chocolate/Brown Merle', 'Brown/Orange', 'Blue/Brown Brindle',
       'Seal Point/Buff', 'Gray/Gold', 'Chocolate/Gray', 'Yellow/Orange',
       'Tortie/Black Smoke', 'Lynx Point/Gray Tabby', 'Brown Merle/Black',
       'Black Smoke/Black', 'Green/Black', 'Chocolate/Red Tick',
       'Brown Tabby/Blue', 'Fawn/Gray', 'White/Black Smoke',
       'White/Seal Point', 'Chocolate/Black Smoke',
       'Brown Tabby/Black Brindle', 'Torbie/Brown', 'Tricolor/Red Tick',
       'Orange/Orange Tabby', 'Brown Tabby/Tortie', 'Tricolor/Orange',
       'Brown/Brown Tabby', 'Red Tick/Red', 'White/Lilac Point',
       'Red Merle/Brown Merle', 'White/Flame Point',
       'Brown Merle/Brown Tabby', 'Blue Smoke/Brown', 'Orange/Blue',
       'Fawn/Brown Brindle', 'Torbie/Gray', 'Fawn/Tricolor',
       'Seal Point/Gray', 'Orange Tabby/Black', 'Brown Brindle/Blue',
       'Buff/Cream', 'Red Tick/Brown Brindle', 'Cream Tabby/Cream Tabby',
       'Red Tick/Brown Merle', 'Blue Cream/Blue Tabby',
       'Calico/Blue Cream', 'Orange Tabby/Apricot', 'Torbie/Black',
       'Red/Red Merle', 'White/Tortie', 'Blue Merle/Brown Brindle',
       'White/Fawn', 'Calico/Brown', 'Blue Tabby/Orange', 'Yellow/Yellow',
       'Brown Brindle/Blue Tick', 'Orange Tiger', 'Brown/Blue',
       'Brown Brindle/Brown Merle', 'Agouti/Gray', 'Tricolor/Silver'],
      dtype=object)

In [49]:
#Verificando os tipos únicos de sexo dos animais presentes nos dados.
data['sex_upon_outcome'].unique()

array(['Neutered Male', 'Spayed Female', 'Intact Female', 'Unknown',
       'Intact Male'], dtype=object)

**Essa é uma coluna de interesse, então também iremos transformar as informações em dados numéricos.**

In [50]:
data.loc[data.sex_upon_outcome == 'Neutered Male', 'sex_upon_outcome'] = 0
data.loc[data.sex_upon_outcome == 'Intact Male', 'sex_upon_outcome'] = 1
data.loc[data.sex_upon_outcome == 'Spayed Female', 'sex_upon_outcome'] = 2
data.loc[data.sex_upon_outcome == 'Intact Female', 'sex_upon_outcome'] = 3
data.loc[data.sex_upon_outcome == 'Unknown', 'sex_upon_outcome'] = 4
data.head()

  animal_id     name animal_type  ... sex_upon_outcome outcome_type outcome_subtype
0   A682590      Rex           0  ...                0     Adoption             NaN
1   A745909      NaN           0  ...                2     Adoption             NaN
2   A741468  *Martha           0  ...                2     Adoption             NaN
3   A715697      NaN           0  ...                0     Adoption             NaN
4   A723449      NaN           1  ...                3   Euthanasia       Suffering

[5 rows x 10 columns]

In [51]:
#Verificando os destinos únicos dos animais presentes nos dados.
data['outcome_type'].unique()

array(['Adoption', 'Euthanasia', 'Transfer', 'Return to Owner', 'Died',
       'Disposal', 'Missing', 'Relocate', 'Rto-Adopt'], dtype=object)

**Observações/Trabalhos Próximos:**

Na coluna de idade: Deixar todas as linhas na mesma unidade.

Na coluna de Raça e de Cor: Tratar as Strings múltiplas / Espaços em Branco e/ou Eliminar essas colunas.

Na coluna de tempo: Fazer uma subtração entre o tempo atual e o tempo de chegada --> Tempo que o animal está no abrigo.

Transformar todas as colunas para numéricas através de funções.

In [ ]:
#Verificando as colunas presentes no Data Frame.
data.columns

Index(['animal_id', 'name', 'animal_type', 'breed', 'color',
       'arrival_datetime', 'age_upon_outcome', 'sex_upon_outcome',
       'outcome_type', 'outcome_subtype'],
      dtype='object')

In [ ]:
#Resetando o ID do animal a partir do Index do Data Frame.
data['animal_id'] = data['animal_id'].reset_index()
data.head()

  animal_id     name animal_type  ... sex_upon_outcome outcome_type outcome_subtype
0         0      Rex           0  ...                0     Adoption             NaN
1         1      NaN           0  ...                2     Adoption             NaN
2         2  *Martha           0  ...                2     Adoption             NaN
3         3      NaN           0  ...                0     Adoption             NaN
4         4      NaN           1  ...                3   Euthanasia       Suffering

[5 rows x 10 columns]

In [52]:
#Criando novo Data Frame a partir do original, selecionando somente as colunas de interesse.
data_1 = data[['animal_id', 'animal_type', 'sex_upon_outcome', 'outcome_type']]
data_1.head()

  animal_id animal_type sex_upon_outcome outcome_type
0   A682590           0                0     Adoption
1   A745909           0                2     Adoption
2   A741468           0                2     Adoption
3   A715697           0                0     Adoption
4   A723449           1                3   Euthanasia

In [ ]:
#Verificando as informações do novo Data Frame (Tipagem dos Dados).
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45278 entries, 0 to 45277
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   animal_id         45278 non-null  object
 1   animal_type       45278 non-null  object
 2   sex_upon_outcome  45278 non-null  object
 3   outcome_type      45278 non-null  object
dtypes: object(4)
memory usage: 1.4+ MB

In [89]:
#Dividindo os dados para treino e teste.
#Selecionando somente as features e armazenando em X.
X = data_1[['animal_type', 'sex_upon_outcome']]
#Padrão em estudos de aprendizado de máquina.
X.head()

  animal_type sex_upon_outcome
0           0                0
1           0                2
2           0                2
3           0                0
4           1                3

In [90]:
#Conferindo estrutura dos dados.
X.shape

(45278, 2)

In [77]:
#Armazenando o Label em Y, para os dados de treino.
y = data[['outcome_type']]
y.head()

  outcome_type
0     Adoption
1     Adoption
2     Adoption
3     Adoption
4   Euthanasia

In [78]:
#Conferindo estrutura dos dados.
y.shape

(45278, 1)

In [79]:
#Importando dados de teste e armazendo em Data Frame.
data_test = pd.read_csv('https://raw.githubusercontent.com/LNascimentoD/HackathonDS/master/Mensagem_Sem_T%C3%ADtulo/test.csv/test.csv')
data_test.head()

  animal_id    name  ... age_upon_outcome sex_upon_outcome
0   A725807  Blanca  ...         14 years    Spayed Female
1   A713176    Ajax  ...         4 months    Intact Female
2   A752992   *Azul  ...          4 weeks      Intact Male
3   A753923     NaN  ...          2 weeks          Unknown
4   A763405     NaN  ...          1 month    Intact Female

[5 rows x 8 columns]

In [80]:
#Selecionando as features de interesse e armazenando em um novo Data Frame, para teste.
test = data_test[['animal_type', 'sex_upon_outcome']]
test.head()

  animal_type sex_upon_outcome
0         Dog    Spayed Female
1         Cat    Intact Female
2         Cat      Intact Male
3        Bird          Unknown
4         Dog    Intact Female

**Iremos repetir o processo feito para os dados de treino. Transformar as informações em dados numéricos.**

In [81]:
test.loc[test.animal_type == 'Dog', 'animal_type'] = 0
test.loc[test.animal_type == 'Cat', 'animal_type'] = 1
test.loc[test.animal_type == 'Bird', 'animal_type'] = 2
test.loc[test.animal_type == 'Livestock', 'animal_type'] = 3
test.loc[test.animal_type == 'Other', 'animal_type'] = 4

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [82]:
test.loc[test.sex_upon_outcome == 'Neutered Male', 'sex_upon_outcome'] = 0
test.loc[test.sex_upon_outcome == 'Intact Male', 'sex_upon_outcome'] = 1
test.loc[test.sex_upon_outcome == 'Spayed Female', 'sex_upon_outcome'] = 2
test.loc[test.sex_upon_outcome == 'Intact Female', 'sex_upon_outcome'] = 3
test.loc[test.sex_upon_outcome == 'Unknown', 'sex_upon_outcome'] = 4

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
#Verificando a existência de dados nulos/ausentes no Data Frame de teste.
test.isna().sum()

animal_type         0
sex_upon_outcome    1
dtype: int64

In [83]:
#Conferindo a estrutura dos dados antes do tratamento.
test.shape

(25570, 2)

In [84]:
#Removendo as linhas em que há dados nulos/ausentes.
test = test.loc[test.sex_upon_outcome.isna() == False, :]

In [85]:
#Conferindo a estrutura dos dados após o tratamento.
test.shape

(25569, 2)

In [86]:
#Visualizando os dados.
test.head()

  animal_type sex_upon_outcome
0           0                2
1           1                3
2           1                1
3           2                4
4           0                3

In [ ]:
#Importando modelo da biblioteca Sklearn
from sklearn.tree import DecisionTreeClassifier

In [87]:
#Instanciando modelo.
tree = DecisionTreeClassifier()

In [92]:
#Treinando o modelo com os dados de treino.
tree.fit(X, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [93]:
#Predizendo os valores a partir dos dados de teste.
predict = tree.predict(test)

In [94]:
#Verificando as predições.
predict

array(['Adoption', 'Transfer', 'Transfer', ..., 'Transfer', 'Adoption',
       'Transfer'], dtype=object)

In [95]:
#Conferindo se houve uma predição para cada um dos dados de teste.
len(predict)

25569

**Agora iremos transformar os dados de saída, para o formato exigido pela submissão.**

In [96]:
submission = data_test['animal_id']
submission.head()

0    A725807
1    A713176
2    A752992
3    A753923
4    A763405
Name: animal_id, dtype: object

In [98]:
predict = pd.DataFrame(predict)
predict.head()

            0
0    Adoption
1    Transfer
2    Transfer
3  Euthanasia
4    Transfer

In [99]:
#Concatenando dados.
submission = pd.concat([submission, predict], ignore_index=False, axis=1)

In [100]:
#Renomeando as colunas do Data Frame.
submission.columns = [['animal_id', 'outcome_type']]

In [101]:
#Verificando a estrutura dos dados de saída.
submission.shape

(25570, 2)

In [102]:
#Visualizando às 5 primeiras linhas do Data Frame originado.
submission.head()

  animal_id outcome_type
0   A725807     Adoption
1   A713176     Transfer
2   A752992     Transfer
3   A753923   Euthanasia
4   A763405     Transfer

In [103]:
#Transformando a submissão em um arquivo com formato CSV.
submission.to_csv('submission.csv', index=False)